.card{
  display: inline-block;
  width: 200px;
  margin: 15px;
  background-color: green;

  h1{
    margin-left: 15px;
    line-height: 30px;
  }

  .rate{
    margin-left: 15px;
  }
}

.cardList{
  width: 70%;
  margin: auto;
}
